@if (!isEditMode()) {
  @if (photos(); as photos) {
    @if (photos.length) {
      <div
        class="grid grid-cols-4 auto-rows-min gap-3 p-5 h-[65vh] overflow-auto">
        @for (photo of photos; track photo.id) {
          <div class="relative">
            <figure>
              <img
                [src]="photo.url"
                alt="photo of member"
                class="w-full rounded-lg" />
            </figure>

            <app-star-button
              [selected]="photo.url === memberService.member()?.imageUrl"
              [disabled]="photo.url === memberService.member()?.imageUrl"
              (clickEvent)="setMainPhoto(photo)" />
          </div>
        }
      </div>
    } @else {
      <p class="text-center text-gray-500">No photos available</p>
    }
  }
} @else {
  <app-image-upload
    [loading]="loading()"
    (uploadFile)="onUploadImage($event)" />
}
