@if (member(); as member) {
  <div class="flex flex-col gap-3">
    <div class="flex gap-3">
      <span class="font-semibold">Member since:</span>
      <span>{{ member.created | date: 'longDate' }}</span>
    </div>

    <div class="flex gap-3">
      <span class="font-semibold">Last active:</span>
      <span>{{ member.lastActive | date: 'dd MMM yyyy h:mm a' }}</span>
    </div>

    <h3 class="text-lg font-semibold text-primary">
      About {{ member.displayName }}
    </h3>

    @if (isEditMode()) {
      <form
        (submit)="updateProfile(); $event.preventDefault()"
        class="flex flex-col w-full gap-4">
        @let displayName = form.displayName;
        @let description = form.description;
        @let city = form.city;
        @let country = form.country;

        <label class="floating-label">
          <span>Display Name</span>

          <input
            class="input w-full"
            [field]="displayName"
            placeholder="Display Name" />
        </label>

        <label class="floating-label">
          <span>Description</span>

          <textarea
            class="textarea w-full"
            [field]="description!"
            placeholder="Description"></textarea>
        </label>

        <label class="floating-label">
          <span>City</span>

          <input class="input w-full" [field]="city" placeholder="City" />
        </label>

        <label class="floating-label">
          <span>Country</span>

          <input class="input w-full" [field]="country" placeholder="Country" />
        </label>

        <div class="flex self-end">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!form().dirty()">
            Submit
          </button>
        </div>
      </form>
    } @else {
      <div>{{ member.description }}</div>
    }
  </div>
}
