<div class="card bg-base-100 mx-auto flex flex-col p-6 rounded-lg shadow-lg">
  <div class="card-title justify-ceneter text-3xl text-primary">Sign up</div>

  <ul class="steps">
    <li class="step step-primary">Credentials</li>
    <li class="step" [class]="{ 'step-primary': currentStep() === 2 }">
      Profile
    </li>
  </ul>

  <!-- TODO:// touched is not working for now, replaced with dirty, change when fixed -->

  <div class="card-body">
    @if (currentStep() === 1) {
      <form class="flex flex-col gap-4 steps p-1">
        @let email = credentialsForm.email;
        @let displayName = credentialsForm.displayName;
        @let password = credentialsForm.password;
        @let confirmPassword = credentialsForm.confirmPassword;

        <app-text-input
          class="mt-3"
          type="email"
          label="Email"
          [field]="email"
          [hasError]="hasEmailError()" />

        @if (email().dirty()) {
          @for (error of email().errors(); track error.kind) {
            <div class="validation-hint text-error -mt-3">
              {{ error.message }}
            </div>
          }
        }

        <app-text-input
          label="Display Name"
          [field]="displayName"
          [hasError]="hasDisplayNameError()" />

        @if (displayName().dirty()) {
          @for (error of displayName().errors(); track error.kind) {
            <div class="validation-hint text-error -mt-3">
              {{ error.message }}
            </div>
          }
        }

        <app-text-input
          type="password"
          label="Password"
          [field]="password"
          [hasError]="hasPasswordError()" />

        @if (password().dirty()) {
          @for (error of password().errors(); track error.kind) {
            <div class="validation-hint text-error -mt-3">
              {{ error.message }}
            </div>
          }
        }

        <app-text-input
          type="password"
          label="Confirm Password"
          [field]="confirmPassword"
          [hasError]="hasConfirmPasswordError()" />

        @if (confirmPassword().dirty()) {
          @for (error of confirmPassword().errors(); track error.kind) {
            <div class="validation-hint text-error -mt-3">
              {{ error.message }}
            </div>
          }
        }

        <div class="flex items-center justify-end gap-3">
          <button type="button" class="btn" type="button" (click)="cancel()">
            Cancel
          </button>

          <button
            class="btn btn-primary"
            type="button"
            (click)="nextStep()"
            [disabled]="credentialsForm().invalid()">
            Next
          </button>
        </div>
      </form>
    }

    @if (currentStep() === 2) {
      <form class="flex flex-col gap-4 steps p-1">
        @let gender = profileForm.gender;
        @let dateOfBirth = profileForm.dateOfBirth;
        @let city = profileForm.city;
        @let country = profileForm.country;

        <div class="flex items-center gap-4">
          <div class="semi-bold">Gender:</div>

          <label class="flex gap-3 items-center">
            <span>Male</span>
            <input
              type="radio"
              [field]="gender"
              value="male"
              class="radio radio-primary" />
          </label>

          <label class="flex gap-3 items-center">
            <span>Female</span>
            <input
              type="radio"
              [field]="gender"
              value="female"
              class="radio radio-primary" />
          </label>
        </div>

        @if (gender().dirty()) {
          @for (error of gender().errors(); track error.kind) {
            <div class="validation-hint text-error -mt-3">
              {{ error.message }}
            </div>
          }
        }

        <app-text-input
          type="date"
          [maxDate]="getMaxDate()"
          label="Date Of Birth"
          [field]="dateOfBirth"
          [hasError]="hasDateOfBirthError()" />

        @if (dateOfBirth().dirty()) {
          @for (error of dateOfBirth().errors(); track error.kind) {
            <div class="validation-hint text-error -mt-3">
              {{ error.message }}
            </div>
          }
        }

        <app-text-input
          label="City"
          [field]="city"
          [hasError]="hasCityError()" />

        @if (city().dirty()) {
          @for (error of city().errors(); track error.kind) {
            <div class="validation-hint text-error -mt-3">
              {{ error.message }}
            </div>
          }
        }

        <app-text-input
          label="Country"
          [field]="country"
          [hasError]="hasCountryError()" />

        @if (country().dirty()) {
          @for (error of country().errors(); track error.kind) {
            <div class="validation-hint text-error -mt-3">
              {{ error.message }}
            </div>
          }
        }

        <div class="flex items-center justify-end gap-3">
          <button type="button" class="btn" type="button" (click)="prevStep()">
            Cancel
          </button>

          <button
            class="btn btn-primary"
            type="button"
            (click)="register()"
            [disabled]="profileForm().invalid()">
            Register
          </button>
        </div>
      </form>
    }
  </div>

  @if (validationErrors().length) {
    <div class="flex mt-5 bg-gray-200 rounded-2xl w-1/2 p-3 mx-auto">
      <ul class="flex flex-col text-error space-y-1">
        @for (error of validationErrors(); track $index) {
          <li>{{ error }}</li>
        }
      </ul>
    </div>
  }
</div>
